:root {
    --red: #E50914;
    --black: #141414;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--black);
    font-family: 'Arial', serif;
    color: #FFF;

}

a {
    text-decoration: none;
}

/* header e navegação */

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header .logo {
    margin-left: 5px;
    color: var(--red);
    font-family: 'arial black';
    font-size: 40px;
}

header nav a {
    margin-right: 10px;
    color: #AAA;
}

header nav a:hover {
    color: #FFF;
}

.mobile{
    display: none;
    
}

.main-movie {
    font-size: 17px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url("../img/theboys.jpg");
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

 .container {
    margin-left: 20px;
}

.main-movie .container {
    width: 60%;

}

.main-movie .description {
    margin-bottom: 40px;
    margin-top: 10px;
}

.main-movie .title {
    margin-top: 10%;
    font-size: 40px;
    font-family: 'Trebuchet MS',  Arial, sans-serif;
}

.button {
    background-color: rgba(0, 0, 0,.50);
    border: none;
    color: white;
    padding: 15px;
    outline: none;
    margin-right: 15px;
    font-size: 13px;
    cursor: pointer;
    transition: .3s ease all;

}

.button:hover {
    background-color: white;
    color:#000;
}

.button i {
    margin-right: 5px;
}

.carousel-movies {

    margin-top: 8px;
}

.box-movie {
    height: 100%;
    width: 100%;
    display:block;
}

.item:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: .5s;

}

.item img:hover {

    transform: translateY(-2px);
    transition: .2s;
}